<div class="page-header">
  <h1>Wecome to Job Tracker!</h1>
</div>

<div class="flex-box">
  <div class="box">
    <h2><strong>Jobs by Interest:</strong></h2>
    <% @top_jobs.each do |job| %>
    <%= job.level_of_interest %>
    (<%= @job_count[job.level_of_interest] %> Job)<br>
    <% end %>
  </div><br>

  <div class="box">
    <h2><strong>Top Companies by Interest:</strong></h2>
    <% @top_companies.each do |company| %>
    <%= company.name %>
    (<%= company.average_interest.round %>)<br>
    <% end %>
  </div>

  <div class="box">
    <h2><strong>Jobs by Location:</strong></h2>
    <% @jobs.count_by_location.each do |city, number_of_jobs| %>
    <%= link_to city, "/jobs?location=#{city}" %> (<%= number_of_jobs %>)<br>
    <% end %>
  </div>
</div>
