<h1><%= @jobs.first.category.title %> Jobs</h1>

<table>
  <th> </th>
  <th> </th>
  <th>Role</th>
  <th>Category</th>
  <th>Company</th>
  <th>City</th>
  <th>Interest</th>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
      <td><%= link_to "Delete", job_path(job), method: "delete", data: {confirm: "Are you sure you want to delete #{job.title}?"} %></td>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= link_to job.category.title, "/jobs?category=#{job.category.id}" %></td>
      <td><%= job.company.name %></td>
      <td><%= link_to job.city, "/jobs?location=#{job.city}" %></td>
      <td><%= job.level_of_interest %></td>
    </tr>
  <% end %>
  </tr>
</table>
