<%= form_for [@company, @job] do |f| %>
<p>
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all, :id, :title %>
</p>
<a href="/categories/new">Add a New Category</a>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_field :description %>
</p>
  <%= f.label :level_of_interest %>
  <%= f.number_field :level_of_interest %>
<p>
  <%= f.label :city %>
  <%= f.text_field :city %>
<p>
  <%= f.submit %>
</p>
<% end %>
