All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <a href="/companies/<%= "#{job.company_id}" %>/jobs/<%= "#{job.id}"  %>"> <ul><%= job.title %></a> at <%= job.company.name %></ul>
<% end %>
