<h1>Current Jobs</h1></br>
<a href="/jobs/new">Create a New Job</a>


<% @jobs.each do |job| %>
  <a href="/companies/<%= "#{job.company_id}" %>/jobs/<%= "#{job.id}"  %>"> <ul><%= job.title %></a> at <%= job.company.name %></ul>
<% end %>

<%= link_to "Create a New Job", new_job_path %>
<br>
<br>

<table>
  <th> </th>
  <th> </th>
  <th>Role</th>
  <th>Company</th>
  <th><a href="">City</a></th>
  <th><a href="">Interest</a></th>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
      <td><%= link_to "Delete", job_path(job), method: "delete", data: {confirm: "Are you sure you want to delete #{job.title}?"} %></td>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= job.company.name %></td>
      <td><%= job.city %></td>
      <td><%= job.level_of_interest %></td>
    </tr>
  <% end %>
  </tr>
</table>
