<h1>Current Jobs</h1></br>
<%= link_to "Create a New Job", new_job_path %>
<br>

<table>
  <th> </th>
  <th> </th>
  <th>Role</th>
  <th>Category</th>
  <th>Company</th>
  <th><%= link_to "City", "/jobs?sort=location" %></th>
  <th><%= link_to "Interest", "/jobs?sort=interest" %></th>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
      <td><%= link_to "Delete", job_path(job), method: "delete", data: {confirm: "Are you sure you want to delete #{job.title}?"} %></td>
      <td><%= link_to job.title, job_path(job) %></td>
      <% if job.category != nil %>
        <td><%= link_to job.category.title, "/jobs?category=#{job.category.id}" %></td>
      <% else %>
        <td> </td>
      <% end %>
      <td><%= job.company.name %></td>
      <td><%= link_to job.city, "/jobs?location=#{job.city}" %></td>
      <td><%= job.level_of_interest %></td>
    </tr>
  <% end %>
  </tr>
</table>
