<h1>All Jobs for <strong><%= @company.name %></strong></h1><br>

<% @company.jobs.each do |job| %>
  <%= link_to job.title, job_path(job) %></a><br>
<% end %>

Existing Contacts:
<br>
<% @company.contacts.each do |contact| %>
<ul>
  <%= contact.full_name %>
  <%= contact.position %>
  <%= contact.email %><br>
  <%= link_to "Edit", edit_company_contact_path(contact) %>
  <%= link_to "Delete", company_contact_path(contact), method: "delete" %>
</ul>
<% end %>

<%= link_to "Create a New Contact", new_company_contact_path(@company, @contact) %>
