<h1>All Jobs for <strong><%= @company.name %></strong></h1><br>

<% @company.jobs.each do |job| %>
  <%= link_to job.title, job_path(job) %></a><br>
<% end %>

Existing Contacts:
<br>
<% @company.contacts.each do |contact| %>
  <%= contact.full_name %>
  <%= contact.position %>
  <%= contact.email %><br>
  <%= link_to "Edit Contact", edit_company_contact_path(@company, contact) %>
  <%= link_to "Delete Contact", company_contact_path(@company, contact), method: "delete",
  data: {confirm:"Really delete this contact?"}%>
<% end %>

<%= link_to "Create a New Job", new_company_job_path(@company) %><br>
<%= link_to "Create a New Contact", new_company_contact_path(@company, @contact) %><br>
<%= link_to "Back to All Companies", companies_path%>
