<div class="page-header">
  <h1>All Jobs for <strong><%= @company.name %></strong></h1>
</div>

<div class="jobs">
  <h2>Jobs:</h2>
  <h4><% @company.jobs.each do |job| %></h4>
  <h4><%= link_to job.title, job_path(job) %></a><br></h4>
  <% end %>
</div>

<div class="contacts-comments">
  <h3>Existing Contacts:</h3>
  <% @company.contacts.each do |contact| %>
    <h4>Name:  <%= contact.full_name %></h4>
    <h4>Position:  <%= contact.position %></h4>
    <h4>Email:  <%= contact.email %></h4>
    <h4><%= link_to "Edit Contact", edit_company_contact_path(@company, contact) %></h4>
    <h4><%= link_to "Delete Contact", company_contact_path(@company, contact), method: "delete",
    data: {confirm:"Really delete this contact?"}%></h4>
  <% end %>
</div>

<h4><%= link_to "Create a New Job", new_company_job_path(@company) %></h4>
<h3><%= link_to "Create a New Contact", new_company_contact_path(@company, @contact) %></h3>
<h4><%= link_to "<< Back to All Companies", companies_path%></h4>
